{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "google", "prettier"],
  "plugins": ["unused-imports", "simple-import-sort"],
  "ignorePatterns": ["dist", "build", "coverage"],
  "rules": {
    "no-invalid-this": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "require-jsdoc": "off",
    "valid-jsdoc": "off",
    "new-cap": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [["^\\u0000"], ["^node:"], ["^@?\\w"], ["^"], ["^\\."]]
      }
    ]
  }
}
